<ion-header>
  <ion-navbar>
    <ion-title>Bebidas</ion-title>
    <ion-buttons end>
      <button id="notification-button" ion-button icon-only large>
        <ion-icon name="cart"  ios="ios-cart" md="md-cart">
          <ion-badge *ngIf="!isCartEmpty" id="notifications-badge" color="danger">{{cartNo}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let drink of drinks">
      <ion-thumbnail item-start>
        <img [src]="drink.picture">
      </ion-thumbnail>
      <h3>{{drink.name}}</h3>
      <p>$ {{drink.price}}</p>
      <button ion-button icon-only clear item-end (click)="addToCart(drink.$key)">
        <ion-icon name="cart"></ion-icon>
      </button>
      <button ion-button clear item-end (click)="drinkClicked(drink.$key) ">View</button>
    </ion-item>
  </ion-list>
</ion-content>